<template>
  <div id="home">

    <v-row>
      <Profile></Profile>
      <v-col class="col-12" style="text-align: left">
        <p id="titre">Dernières sorties</p>
      </v-col>
    </v-row>

    <div>
      <SearchBar
          @search:update="new_request"
          label="Code du pays"
          placeholder="FR, GB, US, ..."
          :default_value="country_code"
          label_number="Nombre d'albums à afficher"
          placeholder_number="5, 10, 20, ..."
          :default_value_number="nb_albums"
          style="padding-left: 1em; padding-top: 1em;">
      </SearchBar>
    </div>

    <v-row class="grid" style="padding-right: 1em;">
      <v-col id="cartes" v-for="(c, i) in albums" :key="i">
        <ListCard :album="c">
        </ListCard>
      </v-col>
    </v-row>

    <v-row>
      <p style="color: #121212; font-size: xxx-large;">.</p>
    </v-row>

  </div>
</template>

<script>
import axios from 'axios' ;
import {Album} from "@/assets/Album";
import ListCard from "../components/ListCard.vue";
import SearchBar from "../components/SearchBar.vue";
import Profile from "../components/Profile.vue";

const qs = require('qs');
const client_id = 'd0bdee2088f74744b7472896bb5ac95d';
const client_secret = 'baa06b80ee4b4870b73fc4d8e4c98caf';
const auth_token = Buffer.from(`${client_id}:${client_secret}`, 'utf-8').toString('base64');

const getAuth = async () => {
  try{
    const token_url = 'https://accounts.spotify.com/api/token';
    const data = qs.stringify({'grant_type':'client_credentials'});

    const response = await axios.post(token_url, data, {
      headers: {
        'Authorization': `Basic ${auth_token}`,
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    })
    return response.data.access_token;
  }catch(error){
    console.log(error);
  }
}

export default {
  name: "Home",
  components: {
    ListCard,
    SearchBar,
    Profile,
  },
  props: {},
  data() {
    return {
      albums: [],
      country_code: 'FR',
      nb_albums: 20,
      token: getAuth(),
    }
  },
  methods: {
    convertDataToArray(data) {
      for (let i = 0; i < data.length; i++) {
        let id = data[i].id;
        let name = data[i].name;
        let artist = data[i].artists[0].name;
        let image = data[i].images[1].url;
        let date = data[i].release_date;
        let songs = data[i].total_tracks;
        this.albums.push(new Album(id, name, artist, image, date, songs));
      }
    },
    async getNewReleases_Track(country, number) {
      const access_token = await getAuth();

      const api_url = `https://api.spotify.com/v1/browse/new-releases?country=`+country+`&limit=`+number;
      try{
        const response = await axios.get(api_url, {
          headers: {
            'Authorization': `Bearer ${access_token}`
          }
        });
        this.convertDataToArray(response.data.albums.items);
      }catch(error){
        console.log(error);
      }
    },
    new_request(value) {
      this.albums = [];
      this.getNewReleases_Track(value.search, value.search_number);
    },
  },
  mounted() {
    console.log(this.getNewReleases_Track(this.country_code, this.nb_albums));
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
#home {
  font-family: 'Montserrat', sans-serif;
}

#titre {
  font-size: xx-large;
  color: white;
  font-weight: bolder;
  padding-top: 2em;
  padding-left: 1em;
}
</style>