<template>

  <div id="artist">
    <v-row>
      <Profile></Profile>
      <v-col class="col-12" style="text-align: left">
        <p id="titre">Rechercher un artiste</p>
      </v-col>
    </v-row>

    <div>
      <SearchBar
          @search:update="new_request"
          label="Rechercher un artiste"
          placeholder="DJ Blyatman, Mac Gopnik, ..."
          :default_value="name_artist"
          label_number="Nombre d'artistes à afficher"
          placeholder_number="1, 2, 5, ..."
          :default_value_number="nb_artist"
          style="padding-left: 1em; padding-top: 1em;">
      </SearchBar>
    </div>

    <v-row class="grid" style="padding-right: 1em;">
      <v-col class="justify-center align-center" id="cartes" v-for="(c, i) in artists" :key="i">
        <ArtistCard :artist="c">
        </ArtistCard>
      </v-col>
    </v-row>

    <v-row><p style="color: #121212; font-size: xxx-large;">.</p></v-row>

  </div>
</template>

<script>
import axios from 'axios' ;
import {Artist} from "@/assets/Artist";
import ArtistCard from "../components/ArtistCard.vue";
import SearchBar from "../components/SearchBar.vue";
import Profile from "../components/Profile";

const qs = require('qs');
const client_id = 'd0bdee2088f74744b7472896bb5ac95d';
const client_secret = 'baa06b80ee4b4870b73fc4d8e4c98caf';
const auth_token = Buffer.from(`${client_id}:${client_secret}`, 'utf-8').toString('base64');

const getAuth = async () => {
  try{
    const token_url = 'https://accounts.spotify.com/api/token';
    const data = qs.stringify({'grant_type':'client_credentials'});

    const response = await axios.post(token_url, data, {
      headers: {
        'Authorization': `Basic ${auth_token}`,
        'Content-Type': 'application/x-www-form-urlencoded'
      }
    })
    return response.data.access_token;
  }catch(error){
    console.log(error);
  }
}

export default {
  name: "SearchArtist",
  components: {
    ArtistCard,
    SearchBar,
    Profile,
  },
  props: {},
  data() {
    return {
      artists: [],
      name_artist: 'Russian Village Boys',
      nb_artist: 1,
      token: getAuth(),
    }
  },
  methods: {
    convertDataToArray(data) {
      for (let i = 0; i < data.length; i++) {
        let id = data[i].id;
        let name = data[i].name;
        let followers = data[i].followers.total;
        let popularity = data[i].popularity;
        let genre = data[i].genres[0];
        let image = data[i].images[1].url;
        this.artists.push(new Artist(id, name, followers, popularity, genre, image));
      }
    },
    async getArtist(artist, number) {
      const access_token = await getAuth();

      const api_url = `https://api.spotify.com/v1/search?q=`+artist+`&type=artist&limit=`+number;
      try{
        const response = await axios.get(api_url, {
          headers: {
            'Authorization': `Bearer ${access_token}`
          }
        });
        this.convertDataToArray(response.data.artists.items);
      }catch(error){
        console.log(error);
      }
    },
    new_request(value) {
      this.artists = [];
      this.getArtist(value.search, value.search_number);
    },
  },
  mounted() {
    console.log(this.getArtist(this.name_artist, this.nb_artist));
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');
#artist {
  font-family: 'Montserrat', sans-serif;
}

#titre {
  font-size: xx-large;
  color: white;
  font-weight: bolder;
  padding-top: 2em;
  padding-left: 1em;
}
</style>