<template>
  <div class="card-wrapper">
    <v-card id="cards" class="album-card mx-auto" dark flat width="500px">
      <v-row>

        <v-col class="col-6">
          <v-card-text>
            <v-img
                class="image"
                :src="artist.image"
                :alt="`Artist : ${artist.name}`"
                height="200px"
                width="200px">
            </v-img>
          </v-card-text>
        </v-col>

        <v-col class="col-6">
          <v-card-text id="card_text" dark>
            <div class="title_card"> {{ artist.name }} </div>
            <div class="description_card">Followers : {{ artist.followers }}</div>
            <div class="description_card">Genre : {{ artist.genre }}</div>
            <div class="description_card" style="padding-top: 1em">Popularité : </div>
            <v-rating class="stars" :value="calculPopu" length="10" readonly dense half-increments small></v-rating>
            <div class="desc_card_id">ID : {{ artist.id }}</div>
          </v-card-text>
        </v-col>

      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "ArtistCard",
  components: {},
  props: {
    artist: Object,
  },
  methods: {},
  computed: {
    calculPopu() {
      return this.artist.popularity / 10;
    },
  },
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#cards {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.75em;
}

.album-card {
  border-radius: 4px !important;
}

.image {
  filter: drop-shadow(0 0 0.5rem black);
}

#card_text {
  text-align: left;
  padding-top: 1.5em;
  margin-left: -0.5em;
}

.title_card {
  margin-left: -1.15em;
  font-size: large;
  color: #e7e7e7;
  font-weight: bold;
  white-space: nowrap ;
  word-break: normal;
  overflow: hidden ;
  text-overflow: ellipsis;
}

.description_card {
  margin-top: 0.5em;
  margin-left: -10px;
  color: #969696;
  font-size: medium;
  white-space: nowrap ;
  word-break: normal;
  overflow: hidden ;
  text-overflow: ellipsis;
}

.desc_card_id {
  margin-top: 1.5em;
  margin-left: -10px;
  color: #595959;
  font-size: small;
  white-space: nowrap ;
  word-break: normal;
  overflow: hidden ;
  text-overflow: ellipsis;
}

.stars {
  padding-top: 0.25em;
  margin-left: -0.75em;
}

.card-wrapper {
  padding-bottom: 2em;
  padding-left: 1em;
}
</style>