<template>
  <div class="card-wrapper">
    <v-hover id="cards" v-slot="{ hover }">
      <v-card class="album-card mx-auto" dark flat height="265px" width="200px">

        <v-card-text>

          <v-img
              class="image"
              :src="album.image"
              :alt="`Album : ${album.name}`">
          </v-img>

          <v-card-title>
            <div v-if="!hover" class="title_card"> {{ album.name }} </div>
            <div v-if="hover" class="title_card"> Titres : {{ album.songs }} </div>
          </v-card-title>

          <v-card-subtitle>
            <div v-if="!hover" class="subtitle_card"> {{ album.artist }} </div>
            <div v-if="hover" class="subtitle_card"> Sortie : {{ album.date }} </div>
          </v-card-subtitle>

          <v-expand-transition>
            <div style="position: absolute; right: 10px; bottom: 10px" v-show="hover">
              <v-icon size="35">mdi-play-circle-outline</v-icon>
            </div>
          </v-expand-transition>

        </v-card-text>
      </v-card>
    </v-hover>
  </div>
</template>

<script>
export default {
  name: "ListCard",
  components: {},
  props: {
    album: Object,
  },
  methods: {}
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#cards {
  font-family: 'Montserrat', sans-serif;
}

.album-card {
  border-radius: 4px !important;
}

.image {
  filter: drop-shadow(0 0 0.5rem black);
}

.title_card {
  margin-top: -5px;
  margin-left: -15px;
  font-size: medium;
  color:white;
  text-align: left;
  white-space: nowrap ;
  word-break: normal;
  overflow: hidden ;
  text-overflow: ellipsis;
}

.subtitle_card {
  margin-left: -15px;
  color: #b4b4b4;
  font-size: smaller;
  text-align: left;
  white-space: nowrap ;
  word-break: normal;
  overflow: hidden ;
  text-overflow: ellipsis;
}

.card-wrapper {
  padding-bottom: 2em;
  padding-left: 1em;
}
</style>