<template>
  <v-app id="navbar">
    <v-navigation-drawer v-model="drawer" permanent app>
      <div class="pa-5">
        <router-link to="/">
          <img id="logo" src="../assets/Spotify_new_logo.png" height="125%" width="125%">
        </router-link>
      </div>

      <v-list>
        <v-list-item
            v-for="item in menu"
            :key="item.title"
            dense
            link
            :to="item.to">

          <v-list-item-icon>
            <v-icon id="nav_icon">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title id="nav_item">{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-footer class="elevation-10" app fixed height="90px">
      <v-row class="grow-column">

        <v-col class="py-0" sm="auto">
          <v-row class="justify-center align-center" style="height: 100%;">
            <v-col cols="auto">
              <img class="elevation-10" src="../assets/blinding_lights.jpg" width="56" height="56">
            </v-col>
            <v-col class="pl-1 text-truncate">
              <span id="title_random">
                Blinding Lights
              </span>
              <br />
              <span id="subtitle_random" class="font-weight-light">
                The Weekend
              </span>
            </v-col>
            <v-col cols="auto">
              <v-btn icon>
                <v-icon>mdi-heart-outline</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-col>

        <v-col class="mid_player py-0 d-flex align-center">
          <v-row class="justify-center align-center">
            <div v-for="icon of [
                'shuffle',
                'skip-previous',
                'play-circle',
                'skip-next',
                'repeat'
              ]" :key="icon" class="mx-3">
              <v-btn icon :small="icon !== 'play-circle'" :x-large="icon === 'play-circle'">
                <v-icon v-text="`mdi-${icon}`"></v-icon>
              </v-btn>
            </div>
          </v-row>
        </v-col>

        <v-col class="d-flex align-center" cols="auto">
          <v-btn icon>
            <v-icon>mdi-volume-medium</v-icon>
          </v-btn>

          <v-btn icon class="noHover">
            <v-icon>mdi-minus-thick</v-icon>
          </v-btn>
          <v-btn icon class="noHover" style="margin-left: -1.5em">
            <v-icon>mdi-minus-thick</v-icon>
          </v-btn>
          <v-btn icon class="noHover" style="margin-left: -1.25em">
            <v-icon>mdi-ray-start</v-icon>
          </v-btn>

          <v-btn icon class="ml-3">
            <v-icon>mdi-playlist-play</v-icon>
          </v-btn>
        </v-col>

      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: "NavPlayer",
  components: {},
  data: () => ({
    drawer: true,
    menu: [
      { title: 'Accueil', icon: 'mdi-home', to: '/' },
      { title: 'Rechercher un album', icon: 'mdi-magnify', to: '/album' },
      { title: 'Rechercher un artiste', icon: 'mdi-account', to: '/artist' },
    ]
  }),
};
</script>



<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#navbar {
  font-family: 'Montserrat', sans-serif;
}

#logo {
  margin-left: -1.5em;
}

#nav_icon {
  padding-left: 0.5em;
}

#nav_item {
  text-align: left;
}

#title_random {
  text-align: left;
}

#subtitle_random {
  text-align: left;
  font-size: smaller;
  margin-left: -2em;
  color: #a6a6a6;
}

.mid_player {
  margin-left: -7em;
}

.noHover{
  pointer-events: none;
}
</style>