<template>
  <v-row>
    <v-col class="col-3">
      <div id="btn_profile" class="text-center">
        <v-btn id="v_btn" rounded color="primary" dark >
          <v-avatar style="height: 3em; width: 3em;">
            <img src="../assets/Ginger_cat.jpg">
          </v-avatar>
          <p id="name_profile">Francois</p>
          <v-icon>mdi-menu-down</v-icon>
        </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Profile"
}
</script>

<style scoped>
#btn_profile {
  position: absolute;
  right: 1.25em;
  top: 1.25em;
}

#v_btn {
  height: 3.5em;
  width: 13em;
  background-color: black;
}

#name_profile {
  padding-left: 0.75em;
  padding-right: 0.75em;
  font-weight: bolder;
}
</style>