<template>
  <v-row>
    <v-col class="col-3">
      <v-text-field
          @keyup.enter="validate"
          v-model="data.search"
          :label="label"
          :placeholder="placeholder"
          dark
          filled
          rounded
          dense>
      </v-text-field>
    </v-col>

    <v-col class="col-3">
      <v-text-field
          @keyup.enter="validate"
          v-model="data.search_number"
          :label="label_number"
          :placeholder="placeholder_number"
          dark
          filled
          rounded
          dense>
      </v-text-field>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "SearchBar",
  props: ['label', 'placeholder', 'default_value', 'label_number', 'placeholder_number', 'default_value_number'],
  data() {
    return {
      data: {
        search: this.default_value,
        search_number: this.default_value_number,
      },
    }
  },
  methods: {
    validate() {
      this.$emit('search:update', this.data)
    }
  }
}
</script>

<style scoped>

</style>