<template id="page">
  <div id="app">
    <v-row>
      <NavPlayer/>
      <v-col class="col-2" style="background-color: #121212; min-width: 250px;">
      </v-col>
      <v-col class="d-flex align-end" style="background-color: #121212">
        <router-view/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import NavPlayer from "./components/NavPlayer.vue";

export default {
  name: 'App',
  components: {
    NavPlayer,
  }

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
